@{ ViewBag.Title = "Amelia Project Manager"; } @section styles {

<link href="~/lib/css/jquery.fancybox.css" rel="stylesheet" />
<link href="~/lib/css/alertify.core.css" rel="stylesheet" />
<link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" /> }

<div class="page-wrapper">
    <amelia-app>
        <div class="page-loading">
            <img src="~/lib/img/theme/loading-spinner-grey.gif" alt="">
            Loading</div>
    </amelia-app>
</div>
@section scripts {
<script src="~/lib/js/jquery.fancybox.pack.js"></script>
<script src="~/lib/js/alertify.min.js"></script>
<script src="~/lib/js/am/app.js"></script>
<script src="~/lib/js/am/layout.js"></script>
} 

@section customScript {
    System.import('app').catch(console.log.bind(console));
    $(document).ready(function() { 
         $('.fancybox').fancybox();
    }); 
}