@import 'global/_variables';
@import 'global/components/_mixins';
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.portlet-full-height {
	height: 100%;
}

.page-logo a {
	color: #c6cfda;
	/* padding: 15px 0 0 5px;*/
	font-weight: bold;
	text-decoration: none;
}

.alertify-logs {
	top: 50px;
	right: 10px
}

.todo-main-header {
	margin-top: -20px;
	>h3 {
		font-weight: 400;
		font-size: 22px;
		margin-right: 1em;
		display: inline-block;
		color: #3b464f;
	}
	>.todo-breadcrumb {
		border-left: 1px solid;
		border-color: #dae3eb;
		padding: 0.5em 2em;
		display: inline-block;
		margin-top: 17px;
		>li {
			display: inline-block;
			font-size: 11px;
			>a {
				color: #77838d;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					color: #337ab7;
					text-decoration: none;
				}
			}
			>.todo-active {
				color: #49a7fa;
			}
			&:before {
				content: "•";
				color: #b6c1cb;
				margin: 0 1em;
			}
			&:first-child:before {
				content: "";
				margin: 0;
			}
		}
	}
}

.project-portlet {
	height: 200px;
	.project-title {
		margin-bottom: 0px!important;
		padding-bottom: 0px!important;
		.project-caption {
			margin-bottom: 0px!important;
			padding-bottom: 0px!important;
		}
	}
	.project-description {
		margin-top: 0px!important;
		font-size: 11px;
	}
}