<div *ngIf="_hasProject">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu page-header-fixed page-sidebar-menu-closed" style="padding-top:50px">
                <li class="nav-item">
                    <a href="">
                        <i class="icon-drawer"></i>
                        <span class="title">Timeline ({{_hasProject}})</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="icon-layers"></i>
                        <span class="title">Backlog</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="icon-screen-tablet"></i>
                        <span class="title">Board</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="icon-list"></i>
                        <span class="title">Issues</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="icon-user"></i>
                        <span class="title">Team</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="icon-settings"></i>
                        <span class="title">Admin</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>